#.env.example

NODE_ENV=development  # or production, etc.

# Server Configuration
PORT=5000

NODE_TLS_REJECT_UNAUTHORIZED=0 #for local

# Database Configuration
DB_DIALECT=
DB_USER=
DB_PASSWORD=
DB_NAME=
DB_HOST=

# Keycloak Configuration
KEYCLOAK_CLIENT_ID=
KEYCLOAK_CLIENT_SECRET=
KEYCLOAK_REALM=
KEYCLOAK_URL=

# cors Configuration
ALLOWED_ORIGINS = []

#pagination Configuration
DEFAULT_PAGE=1
DEFAULT_LIMIT=50

# Status values for chatAI messages
CHATAI_STATUS_INPROGRESS=inprogress
CHATAI_STATUS_COMPLETED=completed

DOMAIN_URL=http://localhost:5000
MEDIA_API_ENDPOINT=http://localhost:5000/api/media
CONVERSATION_AZURE_FOLDER_PATH=conversation

LOG_LEVEL=info

# Redis URL:
# - Use `127.0.0.1:6379` if Redis runs locally (not in Docker)
# - Use `127.0.0.1:6380` if Redis runs in Docker and you connect from host port
# - Use `redis:6379` if app or worker runs inside Docker
REDIS_URL=redis://127.0.0.1:6379